<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106395996253-1o0qdh69ns2ttodsflvjth1n59j5sadr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106395996253-1o0qdh69ns2ttodsflvjth1n59j5sadr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>106395996253-08bcto7ojojf3aqhnosen8l2dfvq4p8e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASSIopeAw71gLaEsXpNYEMHOASPctD5IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>106395996253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eumedito.org.cincoMinutos</string>
	<key>PROJECT_ID</key>
	<string>minutos-3ae7f</string>
	<key>STORAGE_BUCKET</key>
	<string>minutos-3ae7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106395996253:ios:aae3ffe9c1d3a56803bdb4</string>

	<key>NSCameraUsageDescription</key>
    <string>We need access to the camera to take photos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to the photo library to select photos.</string>
</dict>
</plist>